footer {
	background: $gray-base;
	

	[class*=" icon-"], [class^=icon-]{
		font-size: 29px;
	}
}

.footer-title {
	padding-bottom: 40px;

	.title-holder {
		color: $brand-primary;
	}

	p {
		color: $gray-light;
		text-align: center;
	}

}

.form-holder {
	padding-bottom: 60px;
	
	.form-inline {
		display: flex;
		flex-direction: column;		
    	align-items: center;
    	width: 100%;
    	
    	@media (min-width: 768px){
				flex-direction: row;
			}
	}

	.form-group {
		flex-grow: 1;
		align-self: stretch;
		
		@media (min-width: 768px){
			margin-right: 15px;
		}
				
		
		input {
			padding: 26px 20px;
			
			@media (min-width: 768px){
				width: 100%;
			}
		}
		button {
			flex-shrink: 0;
		}

	}

}



.links-holder{
	display: flex;
	justify-content: center;
	padding-bottom: 100px;
	padding-left: 0;
	list-style: none;
	margin-bottom: 0;

}

.link-item {
	display: flex;
    justify-content: center;
	background-color: $brand-primary;
	border: 1px solid transparent;
	border-radius: 5px;
	width: 35px;
	height: 35px;
	margin-right: 35px;
	
	&:last-child {
		margin-right: 0;
	}

	a {
		padding: 4px 0;

		&:hover > span {
			color: $custom-base-white;
		}
	}
}


.footer-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
}

.info-item {
	padding-bottom: 35px;
	text-align: center;
	
	
	@media (min-width: 768px){
		text-align: left;
	}

	address {
		color: $custom-base-white;
		margin: 0;
	}

	a {
		display: block;
		color: $custom-base-white;
		transition: .3s color;
		
		
		&:hover {
			color: $brand-primary;
		}
	}
	
}

.text-align-right {
	text-align: right;
	
	@media (min-width: 768px){
		text-align: left;
	}
}

.text-align-left {
	text-align: left;
}
