

header {
	

	
	.nav {
		text-align: center;
		
		li {
			border-bottom: 1px solid $custom-base-black;
			
			@media (min-width: 768px){
				border-bottom: none;
			}
		}

	}

	.navbar {		

		a {
			font-weight: bold;
			transition: .3s color;
		}

		&-brand {
			padding: 0;
		}
	}

}

.bg-wrapper {
	padding: 40px 0 60px;
}


.logo-holder {
	text-align: center;
}




